body {
  box-sizing: border-box;
  overflow-x: hidden;
}

button {
  border-radius: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #47a2e8;
}

/* HEADER */

#header-container {
  position: relative;
  top: -777px;
  left: -47px;
  width: 1440px;
  height: 538px;
}

#header-container #header-flex {
  position: absolute;
  top: 950px;
  left: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 335px;
  width: 980px;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
}

#header-flex #header-title {
  width: 80%;
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: lighter;
}

#header-flex #header-subtitle {
  width: 78%;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 300;
}

#header-flex #header-link {
  width: 80%;
  color: white;
  font-size: 22px;
  font-weight: 300;
}

#header-link img {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  padding-left: 2px;
  border-radius: 50%;
  filter: invert(100%);
  margin-bottom: -5px;
}

#header-flex #header-link:hover {
  text-decoration: underline;
}

/* HEADER */

/* NAVBAR */

#nav-position {
  position: absolute;
  top: 860px;
  left: 230px;
  height: 36px;
  width: 980px;
}

#nav-position #nav-container {
  display: grid;
  grid-template-columns: 102px repeat(7, 105px) 1fr;
}

#nav-container .bg-nav {
  background-image: linear-gradient(180deg, rgba(115, 115, 115, 1) 0%, rgba(94, 94, 94, 1) 50%, rgba(112, 112, 112, 1) 51%, rgba(141, 141, 141, 1) 100%);
}

#nav-container .nav-b {
  height: 36px;
  width: 100%;
  border-top: 1px solid #668;
  border-right: 1px solid #484848;
  border-bottom: 1px solid #668;
  color: white;
}

#nav-container .nav-b:first-child {
  border-radius: 5px 0 0 5px;
}

#nav-container .input-b {
  height: 36px;
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.nav-b #small-logo {
  height: 20px;
  width: 20px;
}

#input-nav input {
  height: 18px;
  width: 105px;
  border: 1px solid #2f2f2f;
  border-radius: 15px;
  margin: 9px 13.5px;
  background: transparent;
  padding-left: 5px;
}

/* NAVBAR */

/* SECTION */

#section-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
}

#section-container .promo-img {
  height: 200px;
  width: 337px;
}

/* SECTION */

/* FOOTER */

#footer-container {
  height: 45px;
  width: 980px;
  margin: 30px auto 40px;
  font-family: Arial, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', sans-serif;
  font-size: 10px;
  font-stretch: ultra-condensed;
  color: #6e6e6e;
}

#footer-container .footer-items {
  float: left;
  height: 27px;
  width: 50%;
}

.footer-items .item {
  float: left;
  height: auto;
  border-left: 1px solid #ccc;
  padding-left: 4px;
  margin-left: 4px;
}

.item a:hover {
  text-decoration: underline;
}

.item:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}

.item:nth-child(8) {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}

.item:nth-child(7) {
  border-right: 1px solid #ccc;
  padding-right: 4px;
  margin-right: 4px;
}

.item #usa {
  margin-top: -3px;
}

/* FOOTER */
